*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.container{
    width: calc( 100% - 500px);
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
